<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <form action="/test" method="post">
            Nombre:<input type="text" name="nombre"/>
            Edad:<input type="text" name="edad"/>
            <input type="submit" value="Salvar">
        </form>
    </body>
</html>
